@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Oswald:wght@200;300;400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
  font-family: "Oswald", sans-serif;
  color: #ffffff;
}

a {
  text-decoration: none;
}

body {
  grid-template-columns: repeat(3, 396px);
  grid-template-rows: auto;
  justify-content: center;
  height: 100vh;
  width: 100%;
}

.perfil {
  padding: 20px;
  font-size: 32px;
  text-transform: uppercase;
  letter-spacing: 4px;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #082a3a;
  height: 10vh;
}

main {
  background-image: radial-gradient(
    circle,
    #00e6f6,
    #00cfee,
    #00b8e4,
    #00a1d6,
    #008ac5,
    #067ab2,
    #096aa0,
    #095b8d,
    #004f77,
    #004262,
    #04364d,
    #082a3a
  );
}

.navegacao {
  list-style: none;
  display: flex;
  padding-right: 20px;
}

.link {
  letter-spacing: 4px;
  margin-left: 35px;
  display: inline-block;
  font-size: 20px;
  color: #ffffff;
  position: relative;
}

.link::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 3px;
  background-color: #00e6f6;
  transform: scaleX(0);
  transform-origin: right;
  transition: transform 0.4s;
}

.link:hover::after {
  transform: scaleX(1);
  transform-origin: left;
}

.primeiro {
  padding: 3rem 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 3rem;
}

.sobreMim {
  position: relative;
  width: 300px;
  height: 500px;
  color: #00e6f6;
  text-align: center;
  place-content: center;
  padding: 20px;
  background: url("/assets/image/perfil.png") center no-repeat;
  background-size: cover;
  border-radius: 20px;
  z-index: 1;
  overflow: hidden;
}

.sobreMim::before,
.sobreMim::after {
  content: "";
  position: absolute;
  left: 0;
  width: 100%;
  height: calc(60% + 50px);
  background-color: #082a3a;
  transition: transform 0.5s.25s ease-in;
  z-index: -1;
}

.sobreMim::before {
  top: 0;
  clip-path: polygon(0 0, 100% 0, 100% 45%, 0% 100%);
  transform: translateY(-100%);
}

.sobreMim::after {
  bottom: 0;
  clip-path: polygon(0 55%, 100% 0, 100% 100%, 0% 100%);
  transform: translateY(100%);
}

.cardsobreMim {
  opacity: 0;
  transition: opacity .25s;
}

.cardTitulo {
  color: #00e6f6;
  margin-bottom: 30px;
  font-size: 30px;
}

.cardDescricao {
  font-size: 25px;
}

.sobreMim:hover::before,
.sobreMim:hover::after {
  transform: translateY(0);
}

.sobreMim:hover .cardsobreMim {
  opacity: 1;
  transition-delay: .75s;
}
/*
.fotoPerfil {
  width: 25vw;
  max-width: 350px;
  min-width: 250px;
  box-shadow: 0px 10px 17px 0px #000000;
}

.cardDescricao {
  width: 30%;
  max-width: 400px;
  min-width: 250px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 3rem;
}

